.header {

	padding: 40rem 0;
	
	&__container {
		display: flex;
	    align-items: center;
	   justify-content: space-between;

	}

	&__logo {
		color: var(--c-paragraph);
        font-size: 24rem;
        font-style: normal;
        font-weight: 600;
		@include mobile {
			font-size: 18rem;
		}

	}


	&__ul {
		display: flex;
		align-items: center;
		gap: 20px;

		@include tablet {
			position: fixed;
			width: 70%;
			height: 100%;
			flex-direction: column;
			left: 0;
			top: 0;
			background: var(--c-primary);
			align-items: center;
			justify-content: center;
			transform: translateX(-120%);
			transition: var(--transition);
		}

		&._active {
			transform: translateX(0);
		}



		.icon-close {
			position: absolute;
			top: 40px;
			right: 40px;
			color: var(--c-text-white);
		}
	}

	&__a {
		color: var(--c-black);
        font-size: 16rem;
        font-weight: 400;
        position: relative;
		transition: var(--transition);

&:hover {
	color: var(--c-primary);

	&::before {
		width: calc(100% - 12px);
}

	}
		



&::before {
	content: '';
	transition: var(--transition);
	display: block;
	position: absolute;
	width: 0;
	left: 50%;
	transform: translateX(-50%);
	background: var(--c-primary);
	height: 1px;
	bottom: -3rem;
	border-radius: 20rem;

}
&._active {
	color: var(--c-primary);
	font-weight: 600;
	&::before {
		width: calc(100% - 12px);
	}
}

		@include tablet {
			color: var(--c-text-white);
		}
	}

	.icon-menu,
.icon-close {
	cursor: pointer;
	display: none;

	@include tablet {
		display: inline-block;
	}
}

}
	





