.search {
    border-radius: 50px;
background: #000;
padding: 14rem 15rem 10rem 18rem;
position: relative;
@include tablet {
    display: none;
}

&__input {
    width: 100%;
    border: 0;
    outline: 0;
    display: inline-block;
    background: transparent;
    font-family: var(--ff);
    color: #ffffff;
    padding-right: 29rem;
}

&__icon {
    position: absolute;
    right: 15px;
    top: 45%;
    transform: translateY(-45%);
   
}




}